
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Registro</title>
</head>
<body>
    <h1>Bem-vindo ao Sistema da Serralheria</h1>

    <h2>Escolher uma tabela para registrar dados:</h2>
    <form action="/selecionar_tabela" method="POST">
        <label for="tabela">Selecione a Tabela:</label>
        <select name="tabela" id="tabela" required>
            <option value="orcamento">Orçamento</option>
            <option value="funcionario">Funcionários</option>
        </select>
        <button type="submit">Acessar</button>
    </form>

    <hr>

    <h2>Orçamentos Abertos</h2>
    {% if orcamentos %}
        <ul>
        {% for o in orcamentos %}
            <li class="orcamento" data-id="{{ o[0] }}">
                <strong>ID:</strong> {{ o[0] }} |
                <strong>Cliente:</strong> {{ o[1] }} |
                <strong>Valor:</strong> R$ {{ o[2] }} |
                <strong>Data:</strong> {{ o[3] }} |
                <strong>Telefone:</strong> {{ o[4] }} |
                <button class="mudar-status-btn">Mudar status</button>
                    <div class="status-options" style="display: none;">
                        <select class="novo-status">
                            <option value="">Selecione...</option>
                            <option value="Fechado">Fechado</option>
                            <option value="Negado">Negado</option>
                            <option value="Cancelar">Cancelar</option>
                        </select>
                        <button class="confirmar-status">Confirmar</button>
                    </div>
                
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Nenhum orçamento aberto no momento.</p>
    {% endif %}
    
    <hr>
    
    <h2>Obras em Andamento</h2>
    {% if obras %}
    <ul>
    {% for obra in obras %}
        <li class="obra" data-id="{{ obra[0] }}">
            <strong>ID:</strong> {{ obra[0] }} |
            <strong>Cliente:</strong> {{ obra[1] }} |
            <strong>Valor:</strong> R$ {{ "%.2f"|format(obra[3])|replace(".", ",") }} |
            <strong>Data Fechamento:</strong> {{ obra[2].strftime('%d/%m/%Y') }} |
            <strong>Entrega estimada:</strong> 
            {{ obra[4].strftime('%d/%m/%Y') }} | 
            <strong>Dias restantes:</strong>
            <span class="{{ 'atrasado' if obra[5] < 0 else '' }}">
                {% if obra[5] < 0 %}
                    Atrasado: {{ -obra[5] }} dias uteis
                {% else %}
                    {{ obra[5] }} dias uteis
                {% endif %}
            </span>
            <button class="entrega-btn" data-id="{{ obra[0] }}">Obra Entregue</button>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>Não há obras em andamento.</p>
{% endif %}

    <hr>

    <h2>Registro de Auditoria</h2>
    <ul>
    {% for data_hora, mensagem in registro_auditoria %}
        <li>{{ data_hora.strftime('%d/%m/%Y %H:%M') }} - {{ mensagem }}</li>
    {% endfor %}
    </ul>
    <script src="{{ url_for('static', filename='js/mudanca_status_orc.js') }}"></script>
    <script src="{{ url_for('static', filename='js/obra_entregue.js') }}"></script>
</body>
</html>