
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Orcamento</title>
</head>
<body>
    <h1>Registrar Orçamento</h1>

    <form action="/orcamento" method="POST">

        <!-- Tipo do Cliente -->
        <label>Tipo de documento:</label><br>
        <input type="radio" id="radio-cpf" name="tipo_doc" value="cpf" checked> Pessoa Física <br>
        <input type="radio" id="radio-cnpj" name="tipo_doc" value="cnpj"> Pessoa Jurídica
        <br><br>

        <!-- Nome do cliente -->
        <label for="nome_cliente">Nome do Cliente:</label>
        <input type="text" id="nome_cliente" name="nome_cliente" required><br><br>

        <!-- CPF/CNPJ -->
        <label for="documento" id="doc-label">CPF:</label>
        <input type="text" id="documento" name="cpf_cnpj">
        <span id="doc-status"></span><br><br>

        <!-- CEP -->
        <label for="cep">CEP:</label>
        <input type="text" id="cep" name="cep" maxlength="8"><br><br>

        <!-- Telefone -->
        <label for="telefone">Telefone:</label>
        <input type="text" id="telefone" name="telefone"><br><br>

        <!-- Status do cliente -->
        <label for="status_cliente">Status do Orçamento:</label>
        <select name="status_cliente" id="status_cliente" required>
            <option value="Aberto">Aberto</option>
            <option value="Fechado">Fechado</option>
            <option value="Negado">Negado</option>
        </select><br><br>

        <!-- Valor -->
        <label for="valor">Valor (R$):</label>
        <input type="number" step="0.01" name="valor" id="valor" required><br><br>

        <!-- Forma de pagamento -->
        <label for="forma_pagamento">Forma de Pagamento:</label>
        <select name="forma_pagamento" id="forma_pagamento" required>
            <option value="Débito">Débito</option>
            <option value="Cheque">Cheque</option>
            <option value="Crédito">Em espécie</option>
            <option value="Pix">À vista no Pix</option>
            <option value="2x Pix">À vista em 2x no Pix</option>
            <option value="2x Credito">2x no Cartão de Crédito</option>
            <option value="3x Credito">3x no Cartão de Crédito</option>
            <option value="4x Credito">4x no Cartão de Crédito</option>
            <option value="5x Credito">5x no Cartão de Crédito</option>
            <option value="6x Credito">6x no Cartão de Crédito</option>
            <option value="Outro">Outro</option>

        </select><br><br>

        <!-- Data -->
        <label for="data">Data:</label>
        <input type="date" id="data" name="data" required><br><br>

        <!-- Cliente novo -->
        <label for="cliente_novo">O cliente é novo?</label>
        <select name="cliente_novo" id="cliente_novo" required>
            <option value="true">Sim</option>
            <option value="false">Não</option>
        </select><br><br>

        <!-- Salvar como cliente -->
        <label for="salvar_cliente">Deseja Salvar o Cliente</label>
        <select name="salvar_cliente" id="salvar_cliente" required>
            <option value="true">Sim</option>
            <option value="false">Não</option>
        </select><br><br>

        <button type="submit">Registrar Orçamento</button>
    </form>
    <script type="module" src="{{ url_for('static', filename='js/validate_doc.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/outra_forma_pagamento.js') }}"></script>
</body>
</html>
